[submodule "jobs-agave-proxy"]
	path = jobs-agave-proxy
	url = https://github.com/SD2E/pipelinejobs-agave-proxy.git
[submodule "jobs-indexer"]
	path = jobs-indexer
	url = https://github.com/SD2E/pipelinejobs-indexer.git
[submodule "jobs-manager"]
	path = jobs-manager
	url = https://github.com/SD2E/pipelinejobs-manager.git
[submodule "pipelines-manager"]
	path = pipelines-manager
	url = https://github.com/SD2E/pipelines-manager.git
[submodule "demo-jobs-reactor-app"]
	path = demo-jobs-reactor-app
	url = https://github.com/SD2E/demo-jobs-enabled-reactor.git
